.need {
  margin-right: 15px;
  margin-bottom: 10px;
}

.need:hover .need-bar__handle {
  visibility: initial;
}

.need__need-title {
  font-family: Benguiat;
  font-size: 25px;
  margin-bottom: -2px;
  color: rgba(15, 24, 108, 1);
  user-select: none;
}