@font-face {
   font-family: Benguiat;
   src: url("./fonts/BenguiatGothicStd-Bold.otf") format("opentype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: linear-gradient(to bottom, #575fbc, #6d80c5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
